<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.drawingappsample"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity android:name="com.sample.drawingappsample.UnityPlayerCustomActivity"
                  android:label="Drawing App"
                  android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|layoutDirection|uiMode|screenLayout|density"
                  android:screenOrientation="sensorLandscape"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
